In [6]:
import re
import pandas as pd

In [7]:

df = pd.read_csv('musicbrainz_country_de.csv')

df

                          Overview
0                           _preen
1                        -Selektor
2                        -soundso-
3                              -Z-
4                       :Albtraum:
...                            ...
91842              Зенаи́да Па́лли
91843                       рудбой
91844  Олена Валентинівна Савченко
91845                         Т-34
91846                    コラヌ Kaori

[91847 rows x 1 columns]

In [11]:
# Filter the DataFrame to exclude entries containing numbers
import numpy as np
df = df[~df['Overview'].str.contains('\d', na=False) | df['Overview'].isnull()]

print(df)

                          Overview
0                           _preen
1                        -Selektor
2                        -soundso-
3                              -Z-
4                       :Albtraum:
...                            ...
91841                      нат.аша
91842              Зенаи́да Па́лли
91843                       рудбой
91844  Олена Валентинівна Савченко
91846                    コラヌ Kaori

[90595 rows x 1 columns]

In [14]:
df = df[~df['Overview'].apply(lambda x: bool(re.search('[^a-zA-ZäöüÄÖÜß\s]', str(x))))]

print(df)

                     Overview
19            Marietta Slomka
100                  Overview
201                  Overview
302                  Overview
362    The Psychotic Reaction
...                       ...
91827                    ZyRo
91829              ZyteArbyte
91830                     ZZT
91831           ZZup Comanche
91832              ZZZ Hacker

[82075 rows x 1 columns]

In [15]:
df['Overview'] = df['Overview'].drop_duplicates()

print(df)

                     Overview
19            Marietta Slomka
100                  Overview
201                       NaN
302                       NaN
362    The Psychotic Reaction
...                       ...
91827                    ZyRo
91829              ZyteArbyte
91830                     ZZT
91831           ZZup Comanche
91832              ZZZ Hacker

[82075 rows x 1 columns]

C:\Users\matth\AppData\Local\Temp\ipykernel_9328\3543233915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Overview'] = df['Overview'].drop_duplicates()

In [16]:
# Remove entries with NaN or None values from the 'Overview' column
df = df.dropna(subset=['Overview'])

print(df)

                       Overview
19              Marietta Slomka
100                    Overview
362      The Psychotic Reaction
442          A Bit of Braindead
443    A brilliantine mortality
...                         ...
91827                      ZyRo
91829                ZyteArbyte
91830                       ZZT
91831             ZZup Comanche
91832                ZZZ Hacker

[78836 rows x 1 columns]

In [18]:
df['Overview'] = df['Overview'].drop_duplicates()
df

                       Overview
19              Marietta Slomka
100                    Overview
362      The Psychotic Reaction
442          A Bit of Braindead
443    A brilliantine mortality
...                         ...
91827                      ZyRo
91829                ZyteArbyte
91830                       ZZT
91831             ZZup Comanche
91832                ZZZ Hacker

[78836 rows x 1 columns]

In [19]:
df.to_csv('filtered_data.csv', index=False)